{% extends 'player_layout.html' %}

{% block datacontent %}
    <h4 class="title">Career SPA+ Summary</h4>
    <br>
    <div id="timeGraph" style="text-align: center"></div>
{% endblock %}

{% block jsScript %}
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/js/time-graph.js') }}"></script>

    <script>
        var lineData = {{ impact|safe }}
        drawTimeChart(lineData, dateVar="YEAR", dateVarFormat="%Y", axisFormat="%Y", tag="#timeGraph")
    </script>
{% endblock %}