{% extends 'player_layout.html' %}

{% block header %}
    <link
        rel="stylesheet"
        href="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/css/player.css') }}"
        type='text/css'>
{% endblock %}

{% block datacontent %}
    <h4 class="title">{{ season }} SPA+ Summary</h4>
    <br>
    <div id="timeGraph" style="text-align: center;"></div>
    <br>
{% endblock %}

{% block jsScript %}
    <script>
        var Season = "{{ season }}";
        var PlayerID = {{ playerid }};
    </script>

    {% assets "player_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='src/js/time-graph.js') }}"></script>

    <script>
        // TODO: Recreate header player Div as a d3 Javascript function
        // TODO: Capture I/O for player info and graphing data using AJAX calls
        // TODO: Re-do graphing function to use d3 for div creation instead of long HTML strings
        var lineData = {{ impact|safe }}
        var seasonChart = drawTimeChart(
            lineData,
            dateVar="GAME_DATE",
            dateVarFormat="%Y-%m-%dT%H:%M:%S",
            axisFormat="%b",
            playerID={{ playerid }},
            tag="#timeGraph"
        )
    </script>
{% endblock %}
