{% extends 'layout.html' %}

{% block content %}
    {% for section, players in data.items() %}
        <div class="section">
            <h1 class="title">{{ section }}</h1>
            {% for row in players %}
                <div class="columns">
                {% for player in row %}
                    <div class="column">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn.nba.com/headshots/nba/latest/260x190/{{ player['PERSON_ID'] }}.png" width="48px">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p>
                                    <a href="{{ url_for('players_bp.player_summary', playerid=player['PERSON_ID']) }}">
                                        {{ player['DISPLAY_FIRST_LAST'] }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}