{% extends 'layout.html' %}

{% block header %}
    <link
        rel="stylesheet"
        href="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/css/player.css') }}"
        type='text/css'>
{% endblock %}

{% block content %}
    <br>
    <h4 class="title">{{ season }} Summary</h4>
    <p class="subtitle">The following graph can plot the SPA+ performance of any player that played 50+ games in {{ season }}.</p>
    <br>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <div class="select is-multiple">
                    <select multiple id="playerFilter" size="10"></select>
                </div>
            </div>
            <div class="field">
                <button class="button is-link" id="submit">Graph</button>
            </div>
        </div>
        <div class="column is-6">
            <div id="compareGraph" style="text-align: center"></div>
        </div>
        <div class="column is-4" id="playerList"></div>
    </div>
{% endblock %}

{% block jsScript %}
    <script>$SEASON = "{{ season }}"</script>

    {% assets "player_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/js/season.js') }}"></script>
    
{% endblock %}