{% extends 'layout.html' %}

{% block header %}
    <link
        rel="stylesheet"
        href="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/css/player.css') }}"
        type='text/css'>
{% endblock %}

{% block content %}
    <br>
    <h4 class="title">{{ season }} Summary</h4>
    <p class="subtitle">The following graph can plot the SPA+ performance of any player that played 50+ games in {{ season }}.</p>
    <p class="subtitle-sup-size">
        See <a href="{{ url_for('players_bp.top_players', season=season) }}">here</a> for a complete list of player impact ratings.
    </p>
    <br>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <div class="select is-multiple">
                    <select multiple id="playerFilter" size="10">
                        {% for row in display_info %}
                            <option value="{{ row[0] }}">{{ row[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                <button class="button is-link" id="submit">Graph</button>
            </div>
        </div>
        <div class="column is-6">
            <div id="compareGraph" style="text-align: center"></div>
        </div>
        <div class="column is-4" id="playerList"></div>
    </div>
{% endblock %}

{% block jsScript %}
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/js/compare/graph.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/js/io.js') }}"></script>

    <script>
        var defaultSelect = {{ default|safe }};
        var displayInfo = {{ display_info|safe }};

        let defaultFiltered = loadCompareData(
            playerList=defaultSelect,
            Season="{{ season }}"
        );

        compareChart(
            playerData=defaultFiltered,
            info=displayInfo,
            tag="#compareGraph"
        )

        document.getElementById('submit').onclick = function() {
            var selected = [];
            for (var option of document.getElementById('playerFilter').options) {
                if (option.selected) {
                    selected.push(parseInt(option.value));
                }
            }
            d3.select("#compareGraph").selectAll("svg").remove();
            d3.select("#compareGraph").selectAll("div").remove();
            var newFiltered = loadCompareData(
                playerList=selected,
                Season="{{ season }}"
            )
            compareChart(playerData=newFiltered, info=displayinfo, tag="#compareGraph")
        }
    </script>
{% endblock %}