{% extends 'layout.html' %}

{% block header %}
    <link
        rel="stylesheet"
        href="{{ url_for('players_bp.' + config['STATIC_FOLDER'], filename='dist/css/player.css') }}"
        type='text/css'>
{% endblock %}

{% block content %}
    <h1 class="title">{{ season }} Summary</h1>
    <br>
    <div class="columns">
        <div class="column is-2">
            <aside class="menu">
                <p class="menu-label">
                    Award Tracker
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{{ url_for('league_bp.mvp', season=season, page=1) }}">
                            Most Valuable Player
                        </a>
                    </li>
                    {% if season != "2006-07" -%}
                        <li>
                            <a href="{{ url_for('league_bp.mip', season=season, page=1) }}">
                                Most Improved Player
                            </a>
                        </li>
                    {%- endif %}
                    <li>
                        <a href="{{ url_for('league_bp.roty', season=season, page=1) }}">
                            Rookie of the Year
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <h2 class="title is-4">Player Comparison</h4>
    <p class="subtitle is-6">Use the search box to find and add players to the comparison chart.</p>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" id="compareSearch" onkeyup="newSearch.search()" placeholder="Find a player...">
                </div>
            </div>
            <div id="searchResults"></div>
            <form id="graphForm">
                <div class="field">
                    <label class="label">Impact type</label>
                    <input type="checkbox" name="mode">
                    Include team quality and schedule context
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <button type="submit" class="button is-primary">Graph</button>
                    </p>
                    <p class="control">
                        <a class="button is-light" onclick="clearCompare()">Clear</a>
                    </p>
                </div>
            </form>
            <br>
            <div id="currentCompare"></div>
        </div>
        <div class="column is-6">
            <div id="compareGraph" style="text-align: center"></div>
        </div>
        <div class="column is-4" id="playerList"></div>
    </div>
{% endblock %}

{% block jsScript %}
    <script>
        var Season = "{{ season }}"
    </script>

    {% assets "shared_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "league_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('league_bp.' + config['STATIC_FOLDER'], filename='dist/js/summary.js') }}"></script>
    
{% endblock %}