{% extends 'team_layout.html' %}

{% block datacontent %}
    <br>
    <form id="selectForm">
        <div class="field has-addons">
            <div class="control">
                <div class="select">
                    <select name="Season">
                        {% for season in config['SEASONS'] -%}
                            <option value="{{ season }}">{{ season }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Go</button>
            </div>
        </div>
    </form>
    <br>
    <div id="summaryTable"></div>
{% endblock %}

{% block pageScript %}
    <script type="text/javascript" src="{{ url_for('teams_bp.' + config['STATIC_FOLDER'], filename='dist/js/summary.js') }}"></script>
{% endblock %}
