{% extends 'layout.html' %}

{% block content %}
    {% block imagehead %}
        <div id="teamHeader"></div>
    {% endblock %}
    {% block datacontent %}{% endblock %}
{% endblock %}

{% block jsScript -%}
    <script>
        let TeamID = {{ teamid }}
    </script>
    {% assets "teams_js" -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('teams_bp.' + config['STATIC_FOLDER'], filename='dist/js/header.js') }}"></script>
    {% block pageScript %}{% endblock %}
{%- endblock %}
