{% extends 'team_layout.html' %}

{% block datacontent %}
    <div class="columns">
        <div class="column is-half" id="gameLog">
            <h2 class="title is-3">Gamelog</h2>
        </div>
        <div class="column is-half" id="rosterList">
            <h2 class="title is-3">Roster</h4>
        </div>
    </div>
{% endblock %}

{% block pageScript -%}
    <script>
        let Season = "{{ season }}"
    </script>
    <script type="text/javascript" src="{{ url_for('teams_bp.' + config['STATIC_FOLDER'], filename='dist/js/season.js') }}"></script>
{%- endblock %}
