{% extends 'game.html' %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <a href="{{ url_for('players_bp.player_summary', playerid=box['PLAYER_ID']) }}">
                        <img src="https://cdn.nba.com/headshots/nba/latest/260x190/{{ box['PLAYER_ID'] }}.png" height="100px">
                    </a>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ box['PLAYER_NAME'] }}</p>
                    <nav class="level is-mobile">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">SPA</p>
                                <p class="title">{{ box['IMPACT'] }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Points</p>
                                <p class="title">{{ box['PTS']|int }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Assists</p>
                                <p class="title">{{ box['AST']|int }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Rebounds</p>
                                <p class="title">{{ box['REB']|int }}</p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h4 class="title">Win probability over gametime</h4>
    <div class="content">
        Hover over each point to see events that involved {{ box['PLAYER_NAME'] }}.
    </div>
    <div id="gameHover"></div>
    <div id="gameGraph"></div>
{% endblock %}
