{% macro playerbox(box) -%}
{#
Create a player boxscore table.

Parameters
----------
box : list
    The player boxscore data
#}
<table class="table is-hoverable has-background-light">
    <thead>
        <tr>
            <th></th>
            <th><abbr title="Minutes played">Min</abbr></th>
            <th><abbr title="Survival probability added">SPA</abbr></th>
            <th><abbr title="Points">Pts</abbr></th>
            <th><abbr title="Rebounds">Reb</abbr></th>
            <th><abbr title="Assists">Ast</abbr></th>
            <th><abbr title="Steals">Stl</abbr></th>
            <th><abbr title="Blocks">Blk</abbr></th>
            <th><abbr title="Turnovers">TO</abbr></th>
            <th><abbr title="Field Goals">FG</abbr></th>
        </tr>
    </thead>
    <tbody>
        {% for row in box %}
            <tr>
                <td>
                    <a href="{{ url_for('players_bp.player_summary', playerid=row['PLAYER_ID']) }}">
                        {{ row['PLAYER_NAME'] }}
                    </a>
                </td>
                <td>{{ row['MIN'] }}</td>
                <td>{{ row['IMPACT'] }}</td>
                <td>{{ row['PTS']|int }}</td>
                <td>{{ row['REB']|int }}</td>
                <td>{{ row['AST']|int }}</td>
                <td>{{ row['STL']|int }}</td>
                <td>{{ row['BLK']|int }}</td>
                <td>{{ row['TO']|int }}</td>
                <td>{{ row['FGM']|int }}/{{ row['FGA']|int }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
