{% extends 'layout.html' %}

{% block header %}
    <link
        rel="stylesheet"
        href="{{ url_for('game_bp.' + config['STATIC_FOLDER'], filename='dist/css/game.css') }}"
        type='text/css'>
{% endblock %}

{% block content %}
    <table class="u-full-width">
        <tbody>
            <tr>
                <td style="text-align: left;">
                    <a href="{{ url_for('teams_bp.team_summary', teamid=gameinfo['visitor_id']) }}">
                        <img src="https://cdn.nba.com/logos/nba/{{ gameinfo['visitor_id'] }}/primary/L/logo.svg" width="100px">
                    </a>
                </td>
                <td style="text-align: right;">{{ visitortbs.PTS }}</td>
                <td style="text-align: left;">{{ hometbs.PTS }}</td>
                <td style="text-align: right;">
                    <a href="{{ url_for('teams_bp.team_summary', teamid=gameinfo['home_id']) }}">
                        <img src="https://cdn.nba.com/logos/nba/{{ gameinfo['home_id'] }}/primary/L/logo.svg" width="100px">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Top performers</h4>
    {% set tophome = homepbs[0] %}
    {% set topvisitor = visitorpbs[0] %}
    <br>
    <table class="u-full-width">
        <thead>
            <tr>
                <th></th>
                <th>SPA</th>
                <th>Points</th>
                <th>Rebounds</th>
                <th>Assists</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left;">
                    <a href="{{ url_for('players_bp.player_summary', playerid=tophome['PLAYER_ID']) }}">
                        <img src="https://cdn.nba.com/headshots/nba/latest/260x190/{{ tophome['PLAYER_ID'] }}.png" height="100px">
                    </a>
                </td>
                <td>{{ tophome['IMPACT'] }}</td>
                <td>{{ tophome['PTS'] }}</td>
                <td>{{ tophome['REB'] }}</td>
                <td>{{ tophome['AST'] }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <a href="{{ url_for('players_bp.player_summary', playerid=topvisitor['PLAYER_ID']) }}">
                        <img src="https://cdn.nba.com/headshots/nba/latest/260x190/{{ topvisitor['PLAYER_ID'] }}.png" height="100px">
                    </a>
                </td>
                <td>{{ topvisitor['IMPACT'] }}</td>
                <td>{{ topvisitor['PTS'] }}</td>
                <td>{{ topvisitor['REB'] }}</td>
                <td>{{ topvisitor['AST'] }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Win probability over game time</h4>
    <div id="gameHover"></div>
    <div id="gameGraph"></div>
    <br>
    <h4>Team boxscore</h4>
    <table class="u-full-width">
        <thead>
            <tr>
                <th></th>
                <th>Field Goals</th>
                <th>3 Pointers</th>
                <th>Free Throws</th>
                <th>Rebounds (Off/Def)</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
            </tr>
        </thead>
        <tbody>
            {% for row in [hometbs, visitortbs] %}
                <tr>
                    <td>
                        <img src="https://cdn.nba.com/logos/nba/{{ row['TEAM_ID'] }}/primary/L/logo.svg" width="50px">
                    </td>
                    <td>{{ row['FG_PCT'] }}% ({{ row['FGM'] }}/{{ row['FGA'] }})</td>
                    <td>{{ row['FG3_PCT'] }}% ({{ row['FG3M'] }}/{{ row['FG3A'] }})</td>
                    <td>{{ row['FT_PCT'] }}% ({{ row['FTM'] }}/{{ row['FTA'] }})</td>
                    <td>{{ row['REB'] }} ({{ row['OREB'] }}/{{ row['DREB'] }})</td>
                    <td>{{ row['AST'] }}</td>
                    <td>{{ row['STL'] }}</td>
                    <td>{{ row['BLK'] }}</td>
                    <td>{{ row['TO'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>{{ gameinfo['home_abbrev']}} player boxscore</h4>
    <table class="u-full-width">
        <thead>
            <tr>
                <th></th>
                <th>Minutes</th>
                <th>SPA</th>
                <th>Points</th>
                <th>Rebounds</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
                <th>Field Goals</th>
            </tr>
        </thead>
        <tbody>
            {% for row in homepbs %}
                <tr>
                    <td>
                        <a href="{{ url_for('players_bp.player_summary', playerid=row['PLAYER_ID']) }}">
                            {{ row['PLAYER_NAME'] }}
                        </a>
                    </td>
                    <td>{{ row['MIN'] }}</td>
                    <td>{{ row['IMPACT'] }}</td>
                    <td>{{ row['PTS']|int }}</td>
                    <td>{{ row['REB']|int }}</td>
                    <td>{{ row['AST']|int }}</td>
                    <td>{{ row['STL']|int }}</td>
                    <td>{{ row['BLK']|int }}</td>
                    <td>{{ row['TO']|int }}</td>
                    <td>{{ row['FGM']|int }}/{{ row['FGA']|int }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>{{ gameinfo['visitor_abbrev']}} player boxscore</h4>
    <table class="u-full-width">
        <thead>
            <tr>
                <th></th>
                <th>Minutes</th>
                <th>SPA</th>
                <th>Points</th>
                <th>Rebounds</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
                <th>Field Goals</th>
            </tr>
        </thead>
        <tbody>
            {% for row in visitorpbs %}
                <tr>
                    <td>
                        <a href="{{ url_for('players_bp.player_summary', playerid=row['PLAYER_ID']) }}">
                            {{ row['PLAYER_NAME'] }}
                        </a>
                    </td>
                    <td>{{ row['MIN'] }}</td>
                    <td>{{ row['IMPACT'] }}</td>
                    <td>{{ row['PTS']|int }}</td>
                    <td>{{ row['REB']|int }}</td>
                    <td>{{ row['AST']|int }}</td>
                    <td>{{ row['STL']|int }}</td>
                    <td>{{ row['BLK']|int }}</td>
                    <td>{{ row['TO']|int }}</td>
                    <td>{{ row['FGM']|int }}/{{ row['FGA']|int }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block jsScript %}
    <script type="text/javascript" src="{{ url_for('game_bp.' + config['STATIC_FOLDER'], filename='dist/js/game-graph.js') }}"></script>
    <script>
        var lineData = {{ line_chart_data|safe }}
        var dotData = {{ point_chart_data|safe }}
        drawGameChart(lineData, dotData, tag="#gameGraph")
    </script>
{% endblock %}
