{% macro playerbox(box) -%}
{#
Create a player boxscore table.

Parameters
----------
box : list
    The player boxscore data
#}
<table class="u-full-width">
    <thead>
        <tr>
            <th></th>
            <th>Minutes</th>
            <th>SPA</th>
            <th>Points</th>
            <th>Rebounds</th>
            <th>Assists</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Turnovers</th>
            <th>Field Goals</th>
        </tr>
    </thead>
    <tbody>
        {% for row in box %}
            <tr>
                <td>
                    <a href="{{ url_for('game_bp.detail', gameid=row['GAME_ID'], playerid=row['PLAYER_ID']) }}">
                        {{ row['PLAYER_NAME'] }}
                    </a>
                </td>
                <td>{{ row['MIN'] }}</td>
                <td>{{ row['IMPACT'] }}</td>
                <td>{{ row['PTS']|int }}</td>
                <td>{{ row['REB']|int }}</td>
                <td>{{ row['AST']|int }}</td>
                <td>{{ row['STL']|int }}</td>
                <td>{{ row['BLK']|int }}</td>
                <td>{{ row['TO']|int }}</td>
                <td>{{ row['FGM']|int }}/{{ row['FGA']|int }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
