<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- FONT -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
        
        <!-- Mobile specific notes -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS -->
        <link
        rel="stylesheet"
        href="{{ url_for(config['STATIC_FOLDER'], filename='dist/css/custom.css') }}"
        type='text/css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        
        <!-- D3.js for data visualization -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <!-- Load axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body class="has-background-light">
        <nav class="navbar is-dark" role="navigation" arial-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('home_bp.home') }}">Home</a>
                    <a class="navbar-item" href="{{ url_for('game_bp.schedule') }}">Games</a>
                    <a class="navbar-item" href="{{ url_for('teams_bp.teams_home') }}">Teams</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Seasons</a>
                        <div class="navbar-dropdown">
                            {% for row in config['SEASONS'] %}
                                <a class="navbar-item" href="{{ url_for('league_bp.season_home', season=row) }}">{{ row }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Awards</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('league_bp.mvp') }}">Most Valuable Player</a>
                            <a class="navbar-item" href="{{ url_for('league_bp.mip') }}">Most Improved Player</a>
                            <a class="navbar-item" href="{{ url_for('league_bp.roty') }}">Rookie of the Year</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('players_bp.player_directory') }}">Player Directory</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <div class="container is-fluid">
            {% block content %}{% endblock %}
        </div>
        <br>
        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
        {% block jsScript %}{% endblock %}
    </body>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>nbaspa</strong>
            </p>
        </div>
    </footer>
</html>
