<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% block header %}{% endblock %}
        <!-- FONT -->
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>

        <!-- Mobile specific notes -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for(config['STATIC_FOLDER'], filename='dist/css/normalize.css') }}"
            type='text/css'>
        <link
            rel="stylesheet"
            href="{{ url_for(config['STATIC_FOLDER'], filename='dist/css/skeleton.css') }}"
            type='text/css'>
        <link
            rel="stylesheet"
            href="{{ url_for(config['STATIC_FOLDER'], filename='dist/css/custom.css') }}"
            type='text/css'>
        
        <!-- D3.js for data visualization -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar-spacer"></div>
            <nav class="navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a class="navbar-link" href="{{ url_for('home_bp.home') }}">Home</a>
                            <a class="navbar-link" href="{{ url_for('game_bp.schedule') }}">Games</a>
                            <a class="navbar-link" href="{{ url_for('teams_bp.teams_home') }}">Teams</a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block content %}{% endblock %}
        </div>
        {% block jsScript %}{% endblock %}
    </body>
</html>
